<div class="hero-unit">
  <h1>Simplifeed</h1>
  <p>The social network that just makes sense.</p>
</div>
<div class="points row-fluid">
	<div class="span4">
		<div class="big-icon">
		  <i class="icon-eye-close"></i>
		</div>
		<h3>Private</h3>
		<p>
			We believe your information should be kept private. We promise to never use your information for anything you don't approve. Ever.
		</p>
	</div>
	<div class="span4">
		<div class="big-icon">
		  <i class="icon-github"></i>
		</div>
		<h3>Open-Source</h3>
		<p>
			We believe this helps keep us transparent. It also helps Simplifeed be shaped by the developer community.
		</p>
	</div>
	<div class="span4">
		<div class="big-icon">
		  <i class="icon-thumbs-up"></i>
		</div>
		<h3>Free</h3>
		<p>
			That's right, we're doing it for free. We believe if people want this project to succeed, they will do whatever they can to make it happen.
		</p>
	</div>
</div>

<div class="row-fluid">
	<a href="http://github.com/dfmcphee/simplifeed">
		<div class="span4">
			<div class="big-icon">
			  <i class="icon-download"></i>
			</div>
		</div>
		<div class="span8 move-down">
			<h4>Download from github now.</h4>
		</div>
	</a>
</div>
<div class="row-fluid">
	<a href="/users/sign_up">
		<div class="span4">
			<div class="big-icon">
			  <i class="icon-group"></i>
			</div>
		</div>
		<div class="span8 move-down">
			<h4>Join our growing network.</h4>
		</div>
	</a>
</div>